# Virtual environment
venv/
env/
physics_pipeline_env/
.env/
.venv/
.ven
.env
.env.local
.env.*.local



# Exlude literature files
documents/literature/
documents/biblio/
documents/manual_references/
documents/zotero_sync/
# Exlude jupyter testing checkpoints
notebooks/
notebooks/testing_real_functionality.ipynb
notebooks/.ipynb_checkpoints/*.ipynb

# Exlude embedded literature
*.pkl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Other common excludes
.DS_Store
*.log